.App {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.button {
  background: #03A9F4;
  border: 0;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 20px;
  color: whitesmoke;
  font-weight: 600;
  cursor: pointer;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: center;
  background: aliceblue;
  
}

.weather span {
  font-size: 17px;
  font-weight: 500;

}
